/* ----- */
/* Reset */
/* ----- */
*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* Set up the body */
body {
    line-height: 1.5;
    min-height: 100vh;
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}
/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}
 
h1 {
    font-weight: 600;
    font-size: 1.5rem;
    margin: 1.5rem 0;
}

/* Container (card element) */
.container {
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    overflow: hidden;
    margin: 3.8rem 1.5rem;
    padding: 1.5rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

/* Rounded card image */
.card-img {
    border-radius: 10px;
    overflow: hidden;
}

/* Link Styling and Active states */
a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
.container a:hover {
    color: hsl(178, 100%, 50%);
}

.info-text {
    padding-right: 5.5rem;
}

/* Currency and Time left Section */
.card-stats {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.currency {
    color:hsl(178, 100%, 50%);
}

.time-limit {
    font-weight: 400;
}

.currency, 
.time-limit {
    display: flex;
    align-items: center;
}

.currency p,
.time-limit p {
    margin-left: 5px;
}

hr {
    color: hsl(215, 32%, 27%);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Creator Styling */

.creator img {
    display: inline-block;
    border: 1px solid white;
    border-radius: 50%;
    height: 2rem;
    vertical-align: middle;
    margin-right: 1rem;
}